.Footer{
     text-align: center;
     border: 1px solid black;
     background: greenyellow;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}